{{#foreach posts}}
<div class="row">
  <div class="col-md-6 col-sm-6 post-thumb">
    <div class="post-background" style="background:url('{{image}}') no-repeat; ">
      <div class="inside-post">
        <h2 class="post-title"><a href="{{url}}">{{title}}</a>
        <small>por: <a href="{{author.url}}">{{author.name}}</a> <span>
          <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
          <span>
          </small>
      <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
        <a href="{{url}}" class="btn btn-default">VER POST</a>
    </div>
    </div>
  </div>
  {{/foreach}}
{{!-- Previous/next page links - displayed on every page --}}
<div class="col-md-12 text-center">
  {{pagination}}
</div>
