{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

{{!-- The main content area on the homepage --}}
{{#foreach posts}}
    {{#if featured}}
    <div class="row">
      <div class="feature-post col-md-12">
          <div class="feature-background" style="background:url('{{image}}') no-repeat;">
          <div class="feature-text">
            <div class="container">
          <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <small>por: <a href="#">Autor</a> <span>10 Out<span></small>
              <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
              <a href="url" class="btn btn-default">VER POST</a>
          </div>
          </div>
      </div>
    </div>
    </div>
    {{/if}}
{{/foreach}}

<main id="content" class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
